body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding-right: 5px;
  padding-left: 10px;
}

.container {
  width: 1100px;
  padding: 10px;
  margin: 0 auto;
}

.d-ib {
  display: inline-block;
}

.b-black {
  background-color: #000;
}
.b-gray {
  background-color: gray;
}
.b-yellow {
  background-color: #ffc107;
}
.b-light-blue {
  background-color: #03a9f4;
}
.b-red {
  background-color: red;
}
.b-green {
  background-color: #009688;
}

/* text colors */
.t-red {
  color: red;
}
.t-blue {
  color: blue;
}
.t-gray {
  color: gray;
}
.t-white {
  color: white;
}

/* shadows */
.shadow-box {
  box-shadow: 6px 6px 9px 0px rgb(0 0 0 / 20%);
}

/* font size */
.fs-normal {
  font-size: 1rem;
}
.fs-15 {
  font-size: 1.5rem;
}
.fs-20 {
  font-size: 2rem;
}

.t-upper {
  text-transform: uppercase;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}

.tf-right {
  float: right;
}

.card {
  width: 180px;
  padding: 16px;
  text-align: center;
  margin: 10px;
}
.card:hover {
  background-color: #f1f1f1;
}

.item {
  padding: 16px;
  margin: 5px;
  display: flex;
}
.item > div {
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}

.btn {
  padding: 10px;
  margin: 0px 5px;
  /* background-color: #dbdbdb; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.btn-text {
  width: 100px;
}

.label {
  width: 100px;
  padding: 10px 20px;
  margin: 0px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
