body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FCF8E8;
}

.container {
  width: 1100px;
  padding: 10px;
  margin: 0 auto;
}

// align
.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-middle {
  text-align: center;
}

.t-justify {
  text-align: justify;
}

// float
.f-right {
  float: right;
}

.f-left {
  float: left;
}

// shadows
.shadow-box {
  box-shadow: 6px 6px 9px 0px #00000020;
}

.bordered {
  border-radius: 5px;
}

// item
.item {
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  width: 400px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  .title {
    padding: 10px;
    background-color: #2d54b4;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .amount {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0px 20px 0px;
    margin: 0px 5px;

  }

  .labels {
    margin: 0px 5px;

    span {
      background-color: #7C3E66;
      color: white;
      padding: 5px 10px;
    }
  }
}
